.navbar {
	.cta-block:not(.mobile-cta),
	.nav-content .nav-menu {
		@apply max-[1280px]:!hidden;
	}

	.nav-mobile-actions {
		@apply max-[1280px]:!flex gap-[15px] order-1 justify-end items-center;

		.w-nav-button {
			@apply max-[1280px]:!block !order-1;
		}
	}
}

.nav-content {
	&::before,
	&::after {
		@apply !hidden;
	}
}

.home-button-highlight-container {
	.sntcc-sticky-nav-item {
		&.active {
			.sticky-nav-text {
				@apply !block;
			}
		}
	}
}

.nav {
	@apply translate-y-[-100px];
}

.navbar,
.hero-container,
.hero-description-block,
.hero-image,
.logo-carousel-container,
.thin-banner-block {
	@apply opacity-0;
}

.opac-0 {
    @apply opacity-0;
}

.owl-dots {
	&:is(empty) {
		@apply hidden;
	}
}

.integ-group {
	&:not(:has(.integ-icon.active)) {
		.integ-empty {
			@apply block;
		}

		.integ-icons {
			@apply hidden;
		}
	}
}

.integ-guide-inner {
	@apply sticky top-[140px];
}

.integ-select {
	@apply relative;

	select {
		@apply w-full pl-[16px] pr-[50px] py-[8px] rounded-[28px] bg-navy uppercase text-cream text-[16px] leading-[120%] tracking-[-0.16px] font-medium font-roboto-mono;

		option {
			@apply bg-white text-dark-gray;

			&[selected],
			&:hover,
			&:focus,
			&:active,
			&:checked {
				background: rgb(186 230 253 / var(--tw-bg-opacity, 1));
			}
		}
	}

	svg {
		@apply right-[16px] center-y absolute;
	}
}

.integ-icon {
	&:not(.active) {
		@apply h-0 w-0 m-0 basis-0;
	}
}

.lc-logos-group {
    animation: infinite-scroll 40s linear infinite;
}

@keyframes infinite-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 112px));
	}
}

@media screen and (max-width: 991px) {
    .accordion .accordion-stack .w-dyn-item .ac-dropdown.is-active-accordion .ac-dropdown-list.is-active-accordion {
        @apply !max-h-[unset];
    }
}

.w-richtext {
    &:before,
    &:after {
        @apply hidden;
    }
}