.navbar {
    .cta-block,
    .nav-content .nav-menu {
        @apply max-[1280px]:!hidden;
    }

    .nav-mobile-actions {
        @apply max-[1280px]:!flex;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        order: 1;
        justify-content: flex-end;
        align-items: center;
        display: flex
    }
}