html {
	&.hide-overflow {
		@apply overflow-hidden;
	}
}

.navbar {
	.cta-block:not(.mobile-cta),
	.nav-content .nav-menu {
		@apply max-[1280px]:!hidden;
	}

	.nav-mobile-actions {
		@apply max-[1280px]:!flex gap-[15px] order-1 justify-end items-center;

		.w-nav-button {
			@apply max-[1280px]:!block !order-1;
		}
	}

	.gnav {
		.gnav-item-inner {
			@apply transition-all duration-300 ease-out;
		}

		.gnav-item {
			&,
			& * {
				@apply cursor-pointer;
			}

			&:hover {
				.gnav-item-inner {
					@apply bg-tan;
				}
			}

			&.parent {
				&:hover {
					.gnav-dd {
						@apply visible;
					}

					.gnav-dd-inner {
						@apply translate-y-0;
						@apply transition-transform duration-[0.5s] ease-out;
					}

					.gnav-item-arrow {
						@apply rotate-180;
					}
				}
			}
		}

		.gnav-item-arrow {
			@apply transition-transform duration-300 ease-in-out;
		}

		.gnav-dd-inner {
			@apply translate-y-[40px];
		}

		.gnav-dd-nav-group-item {
			@apply transition-colors duration-200 ease-in-out rounded-[0.5rem];

			&:hover {
				@apply bg-tan;
			}
		}
	}

	@media screen and (max-width: 1279px) {
		&.mob-active {
			.gnav-burger {
				div {
					&:nth-child(1) {
						transform: translate(0px, 7px) rotate(45deg);
					}

					&:nth-child(2) {
						@apply opacity-0;
					}

					&:nth-child(3) {
						transform: translate(0px, -7px) rotate(-45deg);
					}
				}
			}

			.gnav-items {
				@apply flex flex-col absolute top-[104px] left-0 w-full h-[calc(100vh-104px)] bg-tan px-[64px] pt-[40px] pb-[80px] gap-[24px];
				overflow-y: auto;
				overflow-x: clip;
			}

			.gnav-dd-feature-image,
			.gnav-dd-feature-title,
			.gnav-dd-feature-desc {
				@apply hidden;
			}

			.gnav-dd-feature-content a {
				@apply bg-cream rounded-[8px] overflow-hidden px-[12px] py-[24px] w-full flex justify-between items-center;
                @apply text-dark-gray;

				.code-embed {
					@apply m-0;

                    svg path {
                        @apply !fill-dark-gray;
                    }
				}
			}

			.gnav-item {
				@apply px-0 flex-col;
			}

			.gnav-item-inner {
				@apply py-[16px] w-full justify-between;
			}

			.gnav-dd {
				@apply relative top-0 left-0 w-full transform-none;
			}

			.gnav-dd-inner {
				@apply w-full min-w-full transform-none bg-transparent !transition-none pt-[16px];
			}

			.gnav-dd-nav-groups {
				@apply flex flex-col gap-[16px];
			}

			.gnav-dd-nav-group {
				@apply flex flex-col gap-[16px];
			}

			.gnav-dd-nav-group-items {
				@apply flex flex-col gap-[16px];
			}

			.gnav-dd-nav-group-item {
				&.is-pf {
					@apply p-[12px] flex flex-col gap-[8px] rounded-[8px];

                    &:hover {
                        @apply bg-cream;
                    }
				}
			}

			.gnav-dd-nav-group-item-head {
				&.is-pf {
					@apply flex items-center gap-[8px];
				}
			}

			.gnav-dd-nav-group-item-image {
				@apply h-[24px] w-[24px];
			}

			.gnav-dd-nav-group-item-title {
				&.is-pf {
                    font-family: Satoshi Variable, sans-serif;
                    @apply leading-[120%] text-[16px] tracking-[normal] font-bold;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		&.mob-active {
			.gnav-items {
				@apply px-[20px] gap-[16px] pt-[20px];
			}

			.gnav-items {
				@apply top-[52px] h-[calc(100vh-52px)];
			}

			.gnav-cta.is-mobile {
				.cta-blue-container a {
					@apply w-full text-center;
				}
			}
		}
	}
}

.nav-content {
	&::before,
	&::after {
		@apply !hidden;
	}
}

.home-button-highlight-container {
	.sntcc-sticky-nav-item {
		&.active {
			.sticky-nav-text {
				@apply !block;
			}
		}
	}
}

.nav {
	@apply translate-y-[-100px];
}

.navbar,
.hero-container,
.hero-description-block:not(.is-default),
.hero-image:not(.is-default),
.thin-banner-block {
	@apply opacity-0;
}

.slide-up,
.opac-0 {
	@apply opacity-0;
}

.owl-dots {
	&:is(empty) {
		@apply hidden;
	}
}

.integ-group {
	&:not(:has(.integ-icon.active)) {
		.integ-empty {
			@apply block;
		}

		.integ-icons {
			@apply hidden;
		}
	}
}

.integ-guide-inner {
	@apply sticky top-[140px];
}

.integ-select {
	@apply relative;

	select {
		@apply w-full pl-[16px] pr-[50px] py-[8px] rounded-[28px] bg-navy uppercase text-cream text-[16px] leading-[120%] tracking-[-0.16px] font-medium font-roboto-mono;

		option {
			@apply bg-white text-dark-gray;

			&[selected],
			&:hover,
			&:focus,
			&:active,
			&:checked {
				background: rgb(186 230 253 / var(--tw-bg-opacity, 1));
			}
		}
	}

	svg {
		@apply right-[16px] center-y absolute;
	}
}

.integ-icon {
	&:not(.active) {
		@apply h-0 w-0 m-0 basis-0;
	}
}

.lc-logos-group {
	animation: infinite-scroll 40s linear infinite;

	&.is-contact-us {
		animation: infinite-scroll-v2 40s linear infinite;
	}
}

@keyframes infinite-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 112px));
	}
}

@keyframes infinite-scroll-v2 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 62px));
	}
}

.text-with-logo-carousel-content-logos {
	animation: tlc-infinite-scroll-desktop 40s linear infinite;

	@media screen and (max-width: 991px) {
		animation: tlc-infinite-scroll-mobile 40s linear infinite;
	}
}

@keyframes tlc-infinite-scroll-desktop {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 72px));
	}
}

@keyframes tlc-infinite-scroll-mobile {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 32px));
	}
}

@media screen and (max-width: 991px) {
	.accordion
		.accordion-stack
		.w-dyn-item
		.ac-dropdown.is-active-accordion
		.ac-dropdown-list.is-active-accordion {
		@apply !max-h-[unset];
	}
}

.w-richtext {
	&:before,
	&:after {
		@apply hidden;
	}
}

.all-resources-outer {
	.all-resource-list:empty ~ .w-pagination-wrapper.pagination {
		@apply !hidden;
	}
}

.sntcc-sticky-nav {
	transition: border-color 0.3s ease;
	border-bottom: 1px solid transparent;

	&.pinned {
		border-color: #0000001a;
	}
}

.h-anim-content,
.h-anim-image {
	@apply opacity-0;
}

.dd {
	.dd-head {
		svg {
			@apply transition-transform duration-300 ease-[ease];
		}
	}

	.dd-body {
		@apply overflow-hidden h-0 transition-all duration-300 ease-[ease];
	}

	&.active {
		.dd-head {
			svg {
				@apply rotate-180;
			}
		}

		.dd-body {
			@apply h-auto pt-[4px];
		}
	}
}

textarea {
	resize: none;
}

.home-acc-item {
	&,
	.home-acc-item-bar,
	.home-acc-item-body,
	.home-acc-item-arrow {
		@apply transition-all duration-300 ease-[ease];
	}

	&:not(.active) {
		@apply opacity-30;

		.home-acc-item-bar {
			@apply !bg-white h-[1px];
		}

		.home-acc-item-body {
			@apply h-0 pt-0 overflow-hidden;
		}
	}

	&.active {
		.home-acc-item-arrow {
			@apply rotate-180;
		}
	}
}

.home-acc-image-outer {
	@apply relative top-0;

	&:not(.active) {
		@apply opacity-0 translate-y-[20px] absolute;
	}

	&.active {
		@apply transition-all duration-[0.6s] ease-out;
	}
}

.sol-acc {
	.sol-acc-head {
		@apply cursor-pointer;

		svg {
			@apply transition-transform duration-300 ease-in-out;
		}
	}

	.sol-acc-body {
		@apply overflow-hidden h-0;
	}

	.sol-acc-body-inner {
		@apply translate-y-[30px];
		@apply transition-transform duration-[0.5s] ease-out;
	}

	.sol-acc-body-inner,
	.sol-acc-graphic {
		@apply opacity-0;
	}

	.sol-acc-body,
	.sol-acc-graphic {
		@apply transition-all duration-[0.3s] ease-in-out;
	}

	&:not(.active) {
		.sol-acc-body {
			@apply pb-[12px];
		}
	}

	&.active {
		.sol-acc-head {
			svg {
				@apply rotate-180;
			}
		}

		.sol-acc-body {
			@apply h-auto pb-0;
		}

		.sol-acc-body-inner {
			@apply translate-y-0;
		}

		.sol-acc-body-inner,
		.sol-acc-graphic {
			@apply opacity-100;
		}

		@media screen and (max-width: 767px) {
			.sol-acc-num {
				@apply hidden;
			}
		}
	}
}

.ddg-item-images {
	.ddg-item-image {
		@apply absolute top-0 left-0 h-full w-full opacity-0;

		&.active {
			@apply opacity-100;
		}
	}

	&:not(.activated) {
		.ddg-item-image:first-child {
			@apply opacity-100;
		}
	}
}

.testimonials-container {
	.owl-stage {
		@apply flex;
	}
}
