*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* Aizen Custom CSS */

.cci-cards .owl-stage {
  display: flex;
}

.cci-cards .owl-item {
  min-width: 304px;
  flex-grow: 0;
}

@media (min-width: 768px) {
  .cci-cards .owl-item {
    min-width: auto;
    flex-grow: 1;
  }
}

.cci-cards .owl-stage-outer,
.testimonial-owl-carousel .owl-stage-outer {
  overflow: visible !important;
}

.cci-cards .owl-nav,
.testimonial-owl-carousel .owl-nav,
.fcs-owl-carousel .owl-nav {
  margin-top: 48px !important;
  display: flex;
  gap: 18px;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.cci-cards .owl-nav {
  position: absolute;
  right: 0;
  bottom: 30px;
}

.cci-cards .owl-dots,
.testimonial-owl-carousel .owl-dots,
.fcs-owl-carousel .owl-dots {
  text-align: center !important;
  display: flex;
  flex-direction: row;
  margin-top: 68px !important;
  width: calc(100% - 250px) !important;
}

.cci-cards .owl-dot,
.testimonial-owl-carousel .owl-dot,
.fcs-owl-carousel .owl-dot {
  display: inline-block !important;
  width: 100% !important;
  /* Width of the bar */
  height: 4px !important;
  /* Height of the bar */
  background-color: #010c5b24 !important;
  margin: 0 !important;
  transition: background-color 0.3s ease !important;
}

.fcs-owl-carousel .owl-dot {
  background-color: #b4e3ff24 !important;
}

.cci-cards .owl-dot.active,
.testimonial-owl-carousel .owl-dot.active {
  background-color: #010b5b !important;
  /* Color of the active bar */
}

.cci-cards .owl-dot:hover,
.testimonial-owl-carousel .owl-dot:hover {
  background-color: #010c5b8c !important;
  /* Color of the bar on hover */
}

.fcs-owl-carousel .owl-dot.active {
  background-color: #b4e3ff !important;
  /* Color of the active bar */
}

.fcs-owl-carousel .owl-dot:hover {
  background-color: #b4e3ff8c !important;
  /* Color of the bar on hover */
}

.arrow-left,
.arrow-right {
  opacity: 0.5;
  transition: opacity 0.3s ease !important;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.featured-customer-story .t-arrow-right,
.featured-customer-story .t-arrow-left {
  display: none;
}

.fcs-arrow {
  display: inline-flex !important;
}

select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.ac-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.w-nav-overlay {
  transition: top 0.3s ease-in-out;
}

.ac-dropdown.w-dropdown,
.dtct-dropdown-mobile.w-dropdown {
  opacity: 0.5;
}

.ac-dropdown.w-dropdown.is-active-accordion,
.dtct-dropdown-mobile.w-dropdown.is-active-accordion {
  opacity: 1;
}

.ac-arrow.w-embed.is-active-accordion {
  transform: rotate(180deg);
}

.dtct-dropdown-toggle.is-active-accordion {
  display: none;
}

.cms-rich-text h1::before,
.cms-rich-text h2::before,
.cms-rich-text h3::before,
.cms-rich-text h4::before,
.cms-rich-text h5::before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0 0;
}

.navbar.w-nav.nav-scroll .nav-content {
  padding: 10px 64px;
}

.navbar.w-nav.nav-scroll .nav-content img {
  width: 65px;
}

@media print {
  header,
	footer,
	.nav-content {
    display: none;
  }
}

@media (max-width: 767px) {
  #mobile-hidden {
    display: none;
  }

  .nav-scroll .nav-content img {
    width: 60px;
  }

  .nav-scroll .nav-content {
    padding: 5px 20px;
  }

  .cci-cards .owl-nav,
	.testimonial-owl-carousel .owl-nav {
    position: absolute;
    bottom: -28px;
  }

  .cci-cards .owl-dots,
	.testimonial-owl-carousel .owl-dots,
	.fcs-owl-carousel .owl-dots {
    width: 100% !important;
  }

  .fcs-owl-carousel .owl-nav {
    position: absolute;
    bottom: -60px;
  }
}

/* 
img {
    &:not(.gcta-image) {
        @apply !rounded-[16px];
    }
} */

._3-up-card-grid-section-card-light {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team-member .overline.team-member-job-title {
  height: auto;
}

@media (min-width: 768px) {
  .team-member .overline.team-member-job-title {
    height: 40px;
  }
}

@media (max-width: 1280px) {
  .navbar .cta-block:not(.mobile-cta),
	.navbar .nav-content .nav-menu {
    display: none !important;
  }
}

.navbar .nav-mobile-actions {
  order: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

@media (max-width: 1280px) {
  .navbar .nav-mobile-actions {
    display: flex !important;
  }
}

.navbar .nav-mobile-actions .w-nav-button {
  order: 1 !important;
}

@media (max-width: 1280px) {
  .navbar .nav-mobile-actions .w-nav-button {
    display: block !important;
  }
}

.nav-content::before,
	.nav-content::after {
  display: none !important;
}

.home-button-highlight-container .sntcc-sticky-nav-item.active .sticky-nav-text {
  display: block !important;
}

.nav {
  --tw-translate-y: -100px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbar,
.hero-container,
.hero-description-block,
.hero-image,
.logo-carousel-container,
.thin-banner-block,
._3-col-with-highlight-animation {
  opacity: 0;
}

.owl-dots:is(empty) {
  display: none;
}

.integ-group:not(:has(.integ-icon.active)) .integ-empty {
  display: block;
}

.integ-group:not(:has(.integ-icon.active)) .integ-icons {
  display: none;
}

.integ-guide-inner {
  position: sticky;
  top: 140px;
}

.integ-select {
  position: relative;
}

.integ-select select {
  width: 100%;
  border-radius: 28px;
  --tw-bg-opacity: 1;
  background-color: rgb(1 11 91 / var(--tw-bg-opacity, 1));
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 50px;
  font-family: Roboto Mono, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: -0.16px;
  --tw-text-opacity: 1;
  color: rgb(255 253 248 / var(--tw-text-opacity, 1));
}

.integ-select select option {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(21 21 21 / var(--tw-text-opacity, 1));
}

.integ-select select option[selected],
			.integ-select select option:hover,
			.integ-select select option:focus,
			.integ-select select option:active,
			.integ-select select option:checked {
  background: rgb(186 230 253 / var(--tw-bg-opacity, 1));
}

.integ-select svg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.integ-icon:not(.active) {
  margin: 0px;
  height: 0px;
  width: 0px;
  flex-basis: 0px;
}

* {
  outline: none;
  box-sizing: border-box;
}